
.button {
    font-size: 1.125rem;
    padding: 16px 24px;
    border-radius: 20px;
    font-weight: 600;
    color: black;
    transition: all 0.3s ease;
    cursor: pointer;
}

.white {
    background-color: white;
    border: 1px solid var(--accent_blue);
    color: var(--accent_orange);
}

.yellow {
    background-color: var(--accent_yellow);
    border: none;
    color: var(--primary_dark);
}

.white:hover {
    background-color: var(--accent_orange);
    color: var(--accent_blue);
    border: 1px solid var(--accent_orange);
}

.yellow:hover {
    background-color: var(--primary_dark);
    color: var(--accent_yellow);
}